{% extends 'Common/Base.html' %}

{% block "leftAndRight" %}
<!-- JS CODE FOR GEO LOCATION -->

<!-- AJAX CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- AJAX CDN -->
<script>
    $(document).ready(function () {
        getLocation();
    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(sendPosition, handleLocationError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function sendPosition(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        fetchWeather(lat, lon);
    }

    function handleLocationError(error) {
        console.error('Error getting geolocation:', error.message);
        // Handle error here, such as showing a message to the user or using default coordinates
    }

    function fetchWeather(lat, lon) {
        $.ajax({
            type: 'GET',
            url: '/',
            data: {
                'lat': lat,
                'lon': lon
            },
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.error('Error:', textStatus, errorThrown);
            }
        });
    }
</script>




<!-- JS CODE FOR GEO LOCATION -->


<div class="d-none d-md-flex col-md-9 bg-black text-white" style="flex-direction: column;">
    <!-- top box -->
    <div style="flex-grow: 1;" class="row">
        <div class="col-6 p-5 d-flex flex-column justify-content-around border-end border-white p-2 border-opacity-10">
            <div>
                <h1 class="fs-1">DHAKA</h1>
                <p class="fs-10 text-secondary ">Bangladesh / Asia</p>
            </div>
            <div>
                <h1 style="font-size: 70px;">35<sup>o</sup>C</h1>
                <small class="text-secondary">Such a hot day</small>
            </div>

        </div>
        <div class="col-6 d-flex align-items-center justify-content-center flex-column">
            <img style="max-width: 200px;"
                src="https://i.ibb.co/1RKLYnq/thunderstorm-1.png"
                alt="">
            <small class="mt-3 fs-6 text-secondary">Sunny Day</small>
        </div>
    </div>
    <!-- middle box -->
    <div class="d-flex justify-content-around"
        style="height: 25%; margin-bottom: 12px;background-color: rgb(21, 21, 21); border-radius:30px; padding: 2rem;">
        {% if weather_data %}
        <div class="d-flex align-items-center flex-column my-auto">
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Max Temp : 30.56 <sup>o</sup>C
            </div>
            <h6 class="mt-2">Fells Like : 30.65 <sup>o</sup>C</h6>
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Min Temp : 30.56 <sup>o</sup>C
            </div>
        </div>
        <div class="d-flex align-items-center flex-column my-auto">
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Humidity : 30.56 <sup>o</sup>C
            </div>
            <h6 class="mt-2">Pressure : 30.65 <sup>o</sup>C</h6>
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Visiblity : 30.56 <sup>o</sup>C
            </div>
        </div>
        <div class="d-flex align-items-center flex-column my-auto">
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Humidity : 30.56 <sup>o</sup>C
            </div>
            <h6 class="mt-2">WIND : 30.65 <sup>o</sup>C</h6>
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Visiblity : 30.56 <sup>o</sup>C
            </div>
        </div>
        <div class="d-flex align-items-center flex-column my-auto">
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Humidity : 30.56 <sup>o</sup>C
            </div>
            <h6 class="mt-2">AREA : ASIA <sup>o</sup>C</h6>
            <div class=" bg-dark p-3 rounded-3">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    stroke="#616161">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <path
                            d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z"
                            stroke="#454545" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        <circle cx="12" cy="8" r="1" stroke="#454545" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"></circle>
                    </g>
                </svg>
                Visiblity : 30.56 <sup>o</sup>C
            </div>
        </div>




        {% elif error_message %}
        <p>{{error_message}}</p>
        {% else %}
        <p>There is an server side error</p>
        {% endif %}

    </div>
    <!-- bottom box -->
    <div style="height: 25%; margin-bottom: 12px;background-color: rgb(21, 21, 21); border-radius:30px;padding: 1rem;">
        HOUR LY FORCAST</div>
</div>
<div class="d-none d-md-flex flex-column justify-content-around col-md-2 text-white bg-black bg-gradient">
    <h4 class=" text-center text-light-emphasis">Next 7 Days Forcast</h4>
    {% for one in 'asdfasd' %}
    <div class=" bg-dark d-flex rounded-3 overflow-hidden">
        <div style="min-width: 65px; padding: 0rem 1rem 0rem 1rem;" class="d-flex justify-content-center align-items-center ">ICON</div>
        <div class="d-flex align-items-center flex-column text-light-emphasis">
            <h5 class="mt-3">Heading</h5>
            <p>Description</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock "leftAndRight" %}