{% extends 'Common/Base.html' %}


{% block "leftAndRight" %}
<div class="d-none d-md-block col-md-11 bg-black text-white"
    style="height: 100%; padding-bottom: 3rem;">
    <!-- target & goal section -->
    <div>
        <h3 class="text-center mt-4">Our Targets and Goals</h3>
        <p class="text-center text-secondary mb-5" style="margin-top:-.5rem;">---------------- Development Reasons
            ----------------</p>
        <div class="container">
            <!-- button 1 -->
            <div class=" bg-black bg-gradient border border-dark p-3 rounded-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                Button with data-bs-target
            </div>
            <div class="collapse show" id="collapseExample">
                <div class="p-3 bg-dark rounded-bottom">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>

            <!-- button 2 -->
            <div class=" bg-black bg-gradient border border-dark p-3 rounded-3 mt-3" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false"
                aria-controls="collapseExample2">
                Button with data-bs-target
            </div>
            <div class="collapse" id="collapseExample2">
                <div class="p-3 bg-dark rounded-bottom">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>

            <!-- button 3 -->
            <div class=" bg-black bg-gradient border border-dark p-3 rounded-3 mt-3" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false"
                aria-controls="collapseExample3">
                Button with data-bs-target
            </div>
            <div class="collapse" id="collapseExample3">
                <div class="p-3 bg-dark rounded-bottom">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>

            <!-- button 4 -->
            <div class=" bg-black bg-gradient border border-dark p-3 rounded-3 mt-3" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false"
                aria-controls="collapseExample4">
                Button with data-bs-target
            </div>
            <div class="collapse" id="collapseExample4">
                <div class="p-3 bg-dark rounded-bottom">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when
                    the user activates the relevant trigger.
                </div>
            </div>
        </div>
    </div>

    <!-- technology section -->
    <div>
        <h3 class="text-center mt-5">Technology We Use</h3>
        <p class="text-center text-secondary mb-5" style="margin-top:-.5rem;">---------------- Design, Architechture and
            Building ----------------</p>
        <div class=" row container mx-auto">
            <!-- HTML 5 -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"></path>
                            <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"></path>
                            <path
                                d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
                                fill="white"></path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: tomato;">HTML 5</h5>
                    <p style="margin-top: -.4rem;">For Architecture of the web</p>
                </div>
            </div>
            <!-- CSS 3 -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#1172B8"></path>
                            <path d="M26 5H16V29.5L24 27L26 5Z" fill="#33AADD"></path>
                            <path
                                d="M19.5 17.5H9.5L9 14L17 11.5H9L8.5 8.5H24L23.5 12L17 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5Z"
                                fill="white"></path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(20, 180, 255);">CSS 3</h5>
                    <p style="margin-top: -.4rem;">Styling the website</p>
                </div>
            </div>

            <!-- Python -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M13.0164 2C10.8193 2 9.03825 3.72453 9.03825 5.85185V8.51852H15.9235V9.25926H5.97814C3.78107 9.25926 2 10.9838 2 13.1111L2 18.8889C2 21.0162 3.78107 22.7407 5.97814 22.7407H8.27322V19.4815C8.27322 17.3542 10.0543 15.6296 12.2514 15.6296H19.5956C21.4547 15.6296 22.9617 14.1704 22.9617 12.3704V5.85185C22.9617 3.72453 21.1807 2 18.9836 2H13.0164ZM12.0984 6.74074C12.8589 6.74074 13.4754 6.14378 13.4754 5.40741C13.4754 4.67103 12.8589 4.07407 12.0984 4.07407C11.3378 4.07407 10.7213 4.67103 10.7213 5.40741C10.7213 6.14378 11.3378 6.74074 12.0984 6.74074Z"
                                fill="url(#paint0_linear_87_8204)"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.9834 30C21.1805 30 22.9616 28.2755 22.9616 26.1482V23.4815L16.0763 23.4815L16.0763 22.7408L26.0217 22.7408C28.2188 22.7408 29.9998 21.0162 29.9998 18.8889V13.1111C29.9998 10.9838 28.2188 9.25928 26.0217 9.25928L23.7266 9.25928V12.5185C23.7266 14.6459 21.9455 16.3704 19.7485 16.3704L12.4042 16.3704C10.5451 16.3704 9.03809 17.8296 9.03809 19.6296L9.03809 26.1482C9.03809 28.2755 10.8192 30 13.0162 30H18.9834ZM19.9015 25.2593C19.1409 25.2593 18.5244 25.8562 18.5244 26.5926C18.5244 27.329 19.1409 27.9259 19.9015 27.9259C20.662 27.9259 21.2785 27.329 21.2785 26.5926C21.2785 25.8562 20.662 25.2593 19.9015 25.2593Z"
                                fill="url(#paint1_linear_87_8204)"></path>
                            <defs>
                                <linearGradient id="paint0_linear_87_8204" x1="12.4809" y1="2" x2="12.4809" y2="22.7407"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#327EBD"></stop>
                                    <stop offset="1" stop-color="#1565A7"></stop>
                                </linearGradient>
                                <linearGradient id="paint1_linear_87_8204" x1="19.519" y1="9.25928" x2="19.519" y2="30"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFDA4B"></stop>
                                    <stop offset="1" stop-color="#F9C600"></stop>
                                </linearGradient>
                            </defs>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(255, 217, 0);">Python 3.13</h5>
                    <p style="margin-top: -.4rem;">Base Language</p>
                </div>

            </div>


            <!-- Django -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>file_type_django</title>
                            <path
                                d="M14.135,4H18.1V22.169a26.218,26.218,0,0,1-5.143.535c-4.842-.005-7.362-2.168-7.362-6.322,0-4,2.673-6.6,6.816-6.6a6.448,6.448,0,0,1,1.724.2V4Zm0,9.142a3.992,3.992,0,0,0-1.337-.2c-2,0-3.163,1.223-3.163,3.366,0,2.087,1.107,3.239,3.138,3.239a9.355,9.355,0,0,0,1.362-.1v-6.3Z"
                                style="fill:#44b78b"></path>
                            <path
                                d="M24.4,10.059v9.1c0,3.133-.235,4.639-.923,5.938A6.316,6.316,0,0,1,20.237,28l-3.678-1.733A5.708,5.708,0,0,0,19.7,23.638c.566-1.121.745-2.42.745-5.837V10.059Z"
                                style="fill:#44b78b"></path>
                            <rect x="20.441" y="4.02" width="3.964" height="4.028" style="fill:#44b78b"></rect>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(0, 185, 130);">Django 4.20</h5>
                    <p style="margin-top: -.4rem;">Framework of Python </p>
                </div>

            </div>


            <!-- JQuery -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <circle cx="16" cy="16" r="14" fill="#0769AD"></circle>
                            <path
                                d="M22.6573 13.4211C23.9143 13.4211 25.0652 13.0019 25.955 12.3066C25.0312 13.5238 23.5007 14.3196 21.7689 14.3196C18.9477 14.3196 16.6607 12.2077 16.6607 9.60256C16.6607 8.1581 17.3638 6.86527 18.4712 6C17.8901 6.76568 17.5491 7.6981 17.5491 8.70407C17.5491 11.3092 19.8361 13.4211 22.6573 13.4211Z"
                                fill="#78CFF5"></path>
                            <path
                                d="M25.9064 16.6586C24.5512 17.7216 22.7968 18.3628 20.8805 18.3628C16.5874 18.3628 13.1071 15.1447 13.1071 11.1749C13.1071 9.63522 13.6307 8.20859 14.5221 7.03894C12.8413 8.35742 11.7745 10.3248 11.7745 12.5226C11.7745 16.4924 15.2548 19.7106 19.5479 19.7106C22.176 19.7106 24.4994 18.5047 25.9064 16.6586Z"
                                fill="#78CFF5"></path>
                            <path
                                d="M26 20.7701C24.0689 22.6129 21.3937 23.7538 18.4375 23.7538C12.5497 23.7538 7.77678 19.2283 7.77678 13.6458C7.77678 11.8768 8.25603 10.214 9.09813 8.76767C7.18322 10.595 6 13.1125 6 15.892C6 21.4745 10.7729 26 16.6607 26C20.6827 26 24.1846 23.8881 26 20.7701Z"
                                fill="#78CFF5"></path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(20, 180, 255);">JQuery 3.7.1</h5>
                    <p style="margin-top: -.4rem;">Framework of JavaScript </p>
                </div>

            </div>

        </div>
        <div class=" row container mx-auto">
            <!-- JS -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMinYMin meet" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M0 0h256v256H0V0z" fill="#F7DF1E"></path>
                            <path
                                d="M67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371 7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259-19.245 0-30.416-9.967-36.087-21.996M152.381 211.354l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607 9.969 0 16.325-4.984 16.325-11.858 0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257 0-18.044 13.747-31.792 35.228-31.792 15.294 0 26.292 5.328 34.196 19.247L210.29 147.43c-4.125-7.389-8.591-10.31-15.465-10.31-7.046 0-11.514 4.468-11.514 10.31 0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804 0 21.654-17.012 33.51-39.867 33.51-22.339 0-36.774-10.654-43.819-24.574">
                            </path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(255, 243, 71);">ES6</h5>
                    <p style="margin-top: -.4rem;">Interaction Language</p>
                </div>
            </div>
            <!-- Ajax -->
            <div class="col d-flex gap-1">
                <div>
                    <img style="margin-top: 3px;" width="50" height="30"
                        src="https://i.ibb.co/xXtcqyd/q50nui54akm57a4u1dhlmudq02.png" alt="">
                </div>
                <div>
                    <h5 style="color: rgb(20, 180, 255);">AJAX</h5>
                    <p style="margin-top: -.4rem;">HTTP Client of JQuery</p>
                </div>
            </div>

            <!-- Weather API -->
            <div class="col d-flex gap-1">
                <div>
                    <img style="margin-top: 3px;" width="75" height="35"
                        src="https://cdn.weatherapi.com/v4/images/weatherapi_logo.png" alt="">
                </div>
                <div>
                    <h5><a style="text-decoration: none; color: rgb(0, 187, 40);"
                            href="https://www.weatherapi.com">Weather API</a></h5>
                    <p style="margin-top: -.4rem;">Appliation Programmig Interface</p>
                </div>
            </div>


            <!-- IMGBB API -->
            <div class="col d-flex gap-1">
                <div>
                    <img style="margin-top: 3px; object-fit:contain;" width="80" height="50"
                        src="https://simgbb.com/images/logo.png" alt="">
                </div>
                <div>
                    <h5><a style="text-decoration: none; color: rgb(34, 204, 255);"
                            href="https://www.weatherapi.com">IMGBB</a></h5>
                    <p style="margin-top: -.4rem;">Local Image Hosting</p>
                </div>
            </div>


            <!-- LORD ICON -->
            <div class="col d-flex gap-1">
                <div>
                    <img style="margin-top: 3px; object-fit:cover; object-position: 0%;" width="50" height="50"
                        src="https://lordicon.com/assets/svg/main/lordicon.svg" alt="">
                </div>
                <div>
                    <h5><a style="text-decoration: none; color: rgb(25, 250, 156);"
                            href="https://www.weatherapi.com">LORD ICON</a></h5>
                    <p style="margin-top: -.4rem;">Animated Icons</p>
                </div>
            </div>

        </div>

        <div class=" row container mx-auto">
            <!-- FIGMA -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 16C16 13.7909 17.7909 12 20 12C22.2091 12 24 13.7909 24 16C24 18.2091 22.2091 20 20 20C17.7909 20 16 18.2091 16 16Z"
                                fill="#1ABCFE"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 24C8 21.7909 9.79086 20 12 20H16V24C16 26.2091 14.2091 28 12 28C9.79086 28 8 26.2091 8 24Z"
                                fill="#0ACF83"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 4V12H20C22.2091 12 24 10.2091 24 8C24 5.79086 22.2091 4 20 4H16Z" fill="#FF7262">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 8C8 10.2091 9.79086 12 12 12H16V4H12C9.79086 4 8 5.79086 8 8Z" fill="#F24E1E">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 16C8 18.2091 9.79086 20 12 20H16V12H12C9.79086 12 8 13.7909 8 16Z" fill="#A259FF">
                            </path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(236, 106, 0);">Figma</h5>
                    <p style="margin-top: -.4rem;">Scratch Creation</p>
                </div>
            </div>
            <!-- Ajax -->
            <div class="col d-flex gap-1">
                <div>
                    <img style="margin-top: 3px;" width="50" height="30"
                        src="https://i.ibb.co/xXtcqyd/q50nui54akm57a4u1dhlmudq02.png" alt="">
                </div>
                <div>
                    <h5 style="color: rgb(20, 180, 255);">AJAX</h5>
                    <p style="margin-top: -.4rem;">HTTP Client of JQuery</p>
                </div>
            </div>
            <!-- FIGMA -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 16C16 13.7909 17.7909 12 20 12C22.2091 12 24 13.7909 24 16C24 18.2091 22.2091 20 20 20C17.7909 20 16 18.2091 16 16Z"
                                fill="#1ABCFE"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 24C8 21.7909 9.79086 20 12 20H16V24C16 26.2091 14.2091 28 12 28C9.79086 28 8 26.2091 8 24Z"
                                fill="#0ACF83"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 4V12H20C22.2091 12 24 10.2091 24 8C24 5.79086 22.2091 4 20 4H16Z" fill="#FF7262">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 8C8 10.2091 9.79086 12 12 12H16V4H12C9.79086 4 8 5.79086 8 8Z" fill="#F24E1E">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 16C8 18.2091 9.79086 20 12 20H16V12H12C9.79086 12 8 13.7909 8 16Z" fill="#A259FF">
                            </path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(255, 243, 71);">Figma</h5>
                    <p style="margin-top: -.4rem;">Scratch Creation</p>
                </div>
            </div>
            <!-- FIGMA -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 16C16 13.7909 17.7909 12 20 12C22.2091 12 24 13.7909 24 16C24 18.2091 22.2091 20 20 20C17.7909 20 16 18.2091 16 16Z"
                                fill="#1ABCFE"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 24C8 21.7909 9.79086 20 12 20H16V24C16 26.2091 14.2091 28 12 28C9.79086 28 8 26.2091 8 24Z"
                                fill="#0ACF83"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 4V12H20C22.2091 12 24 10.2091 24 8C24 5.79086 22.2091 4 20 4H16Z" fill="#FF7262">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 8C8 10.2091 9.79086 12 12 12H16V4H12C9.79086 4 8 5.79086 8 8Z" fill="#F24E1E">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8 16C8 18.2091 9.79086 20 12 20H16V12H12C9.79086 12 8 13.7909 8 16Z" fill="#A259FF">
                            </path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(255, 243, 71);">Figma</h5>
                    <p style="margin-top: -.4rem;">Scratch Creation</p>
                </div>
            </div>
            <!-- FIGMA -->
            <div class="col d-flex gap-1">
                <div>
                    <svg width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M12 1L24 22H0L12 1Z" fill="#696969"></path>
                        </g>
                    </svg>
                </div>
                <div>
                    <h5 style="color: rgb(105, 105, 105);">Vercel</h5>
                    <p  style="margin-top: -.4rem;">Hosting Software</p>
                </div>
            </div>


        </div>
    </div>

</div>
{% endblock "leftAndRight" %}